@use "./../../assets/scss/mixin.scss" as *;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Public Sans" !important;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap; 
  font-style: normal;
}

@font-face {
  font-family: "Public Sans";
  src: url("./../fonts/PublicSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap; 
  font-style: normal;
}

@font-face {
  font-family: "Public Sans";
  src: url("./../fonts/PublicSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap; 
  font-style: normal;
}

@font-face {
  font-family: "Public Sans";
  src: url("./../fonts/PublicSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap; 
  font-style: normal;
}

body {
  font-weight: 400;
  line-height: 1.6;
  background: var(--dark-bg);
  color: var(--text-primary);
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Public Sans" !important;
}

img {
  max-width: 100%;
  height: auto;
}

// Global container class
.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: 640px) {
    padding: 0 1.5rem;
  }

  @media (min-width: 1024px) {
    padding: 0 2rem;
  }
}