@use "./../../assets/scss/mixin.scss" as *;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Public Sans" !important;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap; 
  font-style: normal;
}

@font-face {
  font-family: "Public Sans";
  src: url("./../fonts/PublicSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap; 
  font-style: normal;
}

@font-face {
  font-family: "Public Sans";
  src: url("./../fonts/PublicSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap; 
  font-style: normal;
}

@font-face {
  font-family: "Public Sans";
  src: url("./../fonts/PublicSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap; 
  font-style: normal;
}

body {
  // font-family: "Public Sans" !important;
  font-weight: 400;
  line-height: 1.1;
  background-color: var(--light-color);
  color: var(--textc);
}

.custome-date-input{
  .MuiPickersSectionList-root{
    padding: 9px 0;
  }
}