@use "./../../assets/scss/mixin.scss" as *;

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

body {
  font-weight: 400;
  line-height: 1.6;
  background: #000;
  color: var(--text-primary);
  overflow-x: hidden;
  font-family: "Red Rose", serif !important;

}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Poppins";
}

img {
  max-width: 100%;
  height: auto;
}

// Global container class
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;

   @media (max-width: 1536px) {
    max-width: 1440px;
  }
  @media (max-width: 1440px) {
    max-width: 1280px;
  }

  @media (min-width: 640px) {
    padding: 0 1.5rem;
  }

  @media (min-width: 1024px) {
    padding: 0 2rem;
  }
}