.button-common {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
  box-shadow: rgba(57, 115, 233, 0.25) 0px 0px 16px 0px;
  opacity: 1;
  cursor: pointer;
  flex-flow: row;
  place-content: center;
  align-items: center;
  gap: 13px;
  width: min-content;
  height: min-content;
  padding: 12px 30px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;

  &:hover .gr1 {
    transform: rotate(90deg);
  }

  .button-inner {
    white-space: pre;
    z-index: 3;
    flex: none;
    width: auto;
    height: auto;
    position: relative;
    --extracted-r6o4lv: var(--token-4549beb9-5668-47c0-ba5b-3042517b1cda, rgb(244, 247, 255));
    --framer-paragraph-spacing: 0px;
    transform: none;
    opacity: 1;
    position: relative;
    z-index: 3;
    color: white;
    white-space: nowrap;
    .text{
      font-size: 18px;
    }
  }

  .gr1 {
    z-index: 0;
    flex: none;
    position: absolute;
    inset: 0;
    overflow: visible;
    background: linear-gradient(rgb(77, 77, 77) 0%, rgb(255, 255, 255) 49.4968%, rgba(255, 255, 255, 0) 100%);
    opacity: 1;
    will-change: auto;
    transition: transform 0.6s ease-in-out;
  }

  .gr2 {
    background-color: var(--token-07a45b0e-255e-4a0e-bbef-01feb45fa2c5, rgb(0, 3, 28));
    // background-color:#7168fe;
    border-radius: 100px;
    inset: 1px;
    opacity: 1;
    z-index: 0;
    flex: none;
    position: absolute;
    overflow: visible;
  }
}