.hero-wrapped {
    background-image: url(../../assets/images/bg.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    height: 100%;
    padding: 80px 0;
    .clip-image{
        position: absolute;
        top: 120px;
        left: 50%;
        transform: translate(-50%);
    }
    .first-gradient {       
        filter: blur(100px);
        aspect-ratio: 1.92553;
        height: var(--framer-aspect-ratio-supported, 94px);
        opacity: .6;
        pointer-events: none;
        z-index: 0;
        background-color: #4f60fa;
        border-radius: 100%;
        flex: none;
        width: 22%;
        position: absolute;
        top: 150px;
        left: 50%;
        transform: translate(-50%);
    }

    .main-content {
        margin: auto;
        text-align: center;
        margin-bottom: 30px;
        position: relative;
        .first-label {
            padding: 20px 0;
            text-align: center;
            font-size: 18px;
            color: #8d97fd;
        }

        .title {
            text-align: center;
            font-size: 66px;
            font-weight: 500;
            color: var(--white);
            margin-bottom: 16px;
            letter-spacing: -.04em;
            line-height: 1em;
            margin-bottom: 40px;
        }

        p {
            font-size: 16px;
            color: #cac9d1;
            max-width: 50%;
            margin: auto;
            margin-bottom: 40px;
        }
        
        .hero-btn {
            margin-top: 20px;
        }
    }

    .bottom-section {}
}